In [1]:
import pandas as pd

## Q1 : Pandas version

In [2]:
print(pd.__version__)

2.2.2

## Q2 : Records count

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
len(df)

2160

## Q3 : Laptop brands

In [5]:
df["Brand"].nunique()

27

## Q4 : Missing values

In [8]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

## Q5 : Maximum final price

In [12]:
df[df['Brand']=='Dell']['Final Price'].max()

np.float64(3936.0)

In [13]:
df[df['Brand']=='Dell'][['Brand', 'Final Price']].sort_values(by='Final Price', ascending=False)

     Brand  Final Price
1335  Dell      3936.00
1334  Dell      3469.00
1346  Dell      3012.09
1347  Dell      2818.09
1323  Dell      2450.71
...    ...          ...
1836  Dell       489.00
1839  Dell       489.00
809   Dell       448.99
1843  Dell       420.74
633   Dell       379.00

[84 rows x 2 columns]

## Q6 : Median value of Screen

In [24]:
df2 = df.copy()
print('Median of Screen column : ', df['Screen'].median())
      
import statistics
most_frequent_screen = statistics.mode(df["Screen"])
print('Mode of Screen column : ', most_frequent_screen)

Median of Screen column :  15.6
Mode of Screen column :  15.6

In [25]:
df2['Screen'] = df2['Screen'].fillna(most_frequent_screen)
print("Median after missing values filled : ", df2['Screen'].median())

Median after missing values filled :  15.6

## Q7 : Sum of weights

In [38]:
import numpy as np

X = np.array(df[df['Brand'] == "Innjoo"][['RAM', 'Storage', 'Screen']])
XTX = np.dot(X.T, X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([900, 1000, 1100])
w = np.dot(XTX_inv, y)
print("Sum of weights : ", w.sum())

Sum of weights :  89.26947289718251